@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

// #inital-choice{
//   max-width: 1vh;
// }

.categories {
  display: flex;

}

// image {
//   max-width: 100px;
// }

.catrgories img{
  filter: grayscale(1);
}
// .catrgories img:hover{
//   filter: none;
// }

